@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#cta {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.nav {
  @apply shadow fixed top-0 left-0 right-0 md:shadow-md;
  animation: slide 350ms;
}

@keyframes slide {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .service {
    width: calc(100% - 1rem);
  }
}

.menu {
  animation: menu 500ms;
}

@keyframes menu {
  0% {
    transform: translateX(100%)
  }
  100%{
    transform: translateX(0);
  }
}

.closeMenu {
  animation: closeMenu 500ms;
}

@keyframes closeMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}